$purple-light: #c7b9ff;
$purple-primary: #8a74ff;
$purple-dark: #5448cb;
$purple-intensive: #3b03a8;
$purple-review: #f6f4ff;

$pink-deep: #ff3d6b;
$red-chai: #e10600;

$blue-primary: #04C9B2;
$blue-suggest: #59d2fe;
$blue-background: #f4faff;
$blue-like: #4a90e2;
$blue-facebook: #1877f2;
$blue-toss: #0050ff;
$blue-kakao: #c5d3df;
$blue-skymarry: #3da1ff;
$blue-skymarry-light: #f4faff;
$white: #ffffff;

$grey-01: #f7f8f9;
$grey-02: #f1f2f4;
$grey-03: #e9e9ed;
$grey-04: #c8c8cd;
$grey-05: #adacb0;
$grey-06: #949498;
$grey-07: #7f7e83;
$grey-08: #646468;
$grey-09: #434245;
$grey-10: #393d44;

$slate-grey: $grey-08;
$greyish-purple: $grey-07;

$yellow-intensive: #ffe537;
$yellow-star: #ffcc00;
$yellow-kakao: #fee500;
$marigold: #ffcc00;
$yellow-premium: #eab555;
$yellow-premium-grad: linear-gradient(106deg, #edbf5e 6%, #f3d27a 54%, #e9b04e);
$yellow-premium-grad-event: linear-gradient(99deg, #edbf5e 20%, #e9b04e 60%, #f3d27a);

$green: #7ed321;
$pink-woman: #ffbdbb;
$blue-man: #99bfff;

$gray-divider: #dad9df;
$brand-accent: rgba(84, 72, 203, 1); // #5348cb
$brand-info: rgba(147, 218, 69, 1); // #93da45
$brand-warning: rgba(255, 179, 2, 1); // #ffb302
$brand-red: rgba(255, 61, 107, 1); // #ff3d6a
$brand-gray: rgba(212, 212, 212, 1); // #d4d4d4
$bg-danger: rgba(255, 61, 107, 0.04);
$brand-danger: $brand-red;
$brand-success: $brand-info;
$brand-daily: $brand-red;
$brand-recommended: rgba(88, 210, 254, 1); // #58d2fe
$brand-gold: #ffb300;
$brand-bronze: rgba(177, 108, 48, 1); // #b16c30
$brand-premium: #0e0b54;
$blue-facebook-grad: linear-gradient(278deg, #0064fb 100%, #419aff);
$brand-premium-blue: #262289;
$brand-premium-grad: linear-gradient(to top, #262289, #0e0b54);
$blue-primary-grad: linear-gradient(94deg, #ba90ff, #8a74ff);
$blue-primary-grad-reverse: linear-gradient(99deg, #8a74ff, #aa92ff);
$brand-red-grad: linear-gradient(99deg, #ff70a4, #ff3d6b);
$brand-blue-grad: linear-gradient(99deg, #92ebff, #59d2fe);
$brand-accent-40: rgba(74, 64, 196, 0.4);
$social-light: #4be8cf;
$social: #1cc6c6;
$suhoshin-red: #D22630
