button {
    background: white;
    font-weight: 700;

    &[disabled],
    &.disabled {
        background: $grey-02;
        box-shadow: none;
        color: $grey-05;
        @include f-medium;
    }

    .free-badge {
        background-color: white;
        font-size: 10px;
        border-radius: 6px;
        color: $blue-primary;
        padding: 4px;
        margin-right: 8px;
    }
}

.btn {
    border: none;
    white-space: normal;
    border-radius: 8px;
    font-weight: initial;
    z-index: 1;
    overflow: visible;
    text-overflow: ellipsis;
    position: relative;
    padding: 6px 20px;
    height: 48px;
    vertical-align: middle;
    touch-action: manipulation;
    user-select: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
    @include f-medium;

    &:not(.btn-default) > i {
        color: #fff;
    }

    img {
        pointer-events: none;
    }

    i {
        pointer-events: none;
    }

    .badge {
        $badge-size: 24px;
        position: absolute;
        top: -2px;
        right: -2px;
        padding: 0px;
        line-height: 22px;
        height: $badge-size;
        min-width: $badge-size;
        font-size: 12px;
        border-radius: 12px;
        border: 1px solid #fff;
    }

    input[type="file"] {
        position: absolute;
        top: 0px;
        opacity: 0;
        left: 0;
    }
}

.btn-sm {
    padding: 0px 4px;
    line-height: 20px;
    font-size: 12px;
}

.btn-dropdown {
    color: $blue-primary;

    &:before {
        content: '\f2f9';
        font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
        color: $blue-primary;
        margin-right: 8px;
        font-size: 14px;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        pointer-events: none;
    }
}

.btn-warning {
    color: #fff;
    background-color: $brand-warning;
}

.btn-danger {
    color: #fff;
    background-color: $brand-danger;
}

.btn-primary {
    border: none;
    background: $blue-primary;
    color: white;
}
.btn-black {
    color: white;
    background: #111111;
}

.btn-facebook {
    color: #fff;
    background: $blue-facebook;
}

.btn-facebook-grad {
    color: #fff;
    background-image: linear-gradient(279deg, #0064fb, #419aff);
}

.btn-premium {
    color: #fff;
    background-image: $yellow-premium-grad-event;
}

.btn-premium-blue {
    color: #fff;
    background: $brand-premium-blue;
}

.btn-daily {
    border: none;
    background: $brand-daily;
    color: white;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.08);
}

.btn-default {
    background: white;
    color: $grey-09;

    &:not(.disabled) &:hover {
        background-color: $grey-02;
    }
}

.btn-normal {
    border: 1px solid $grey-03;
    color: $grey-08;

}

.btn-icon {
    font-size: 11px;
    line-height: 12px;
    padding: 6px;
    @include f-bold;

    i {
        font-size: 14px;
    }

    &:not(.active) {
        background: white;
        color: $blue-primary;
        border: 1px solid $blue-primary;

        i {
            color: $blue-primary;
            margin-right: 8px;
        }

        &:hover {
            color: $brand-accent;
            border: 1px solid $brand-accent;

            i {
                color: $brand-accent;
            }
        }
    }

    &.active {
        color: white;
        background: $blue-primary;
        border: 1px solid $blue-primary;

        &:hover {
            background: $brand-accent;
            border: 1px solid $brand-accent;
        }
    }

    .badge-on {
        position: absolute;
        top: -6px;
        right: 6px;
    }
}

.btn-brd {
    color: $grey-09;
    background: white;
    border: 1px solid $grey-03;
    border-radius: 8px;

    &.primary {
        color: $blue-primary;
        border: 1px solid $blue-primary;
        background: white;
        box-shadow: 0 0 4px rgba(84, 72, 203, 0.2);
    }
}

.btn-block {
    display: flex;
    width: 100%;
}

.btn-file {
    overflow: hidden;
    position: relative;

    > input {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        font-size: 23px;
        height: 100%;
        width: 100%;
        direction: ltr;
        cursor: pointer;
    }
}

.btn-text {
    border: none;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

button {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
