.message-row {
    $b-r-message-text: 12px;

    &:not(:first-child) {
        margin-bottom: 10px;
    }

    &:last-child {
        &.left {
            .message-text {
                border-radius: 0 $b-r-message-text $b-r-message-text $b-r-message-text;
            }
        }

        &.right {
            .message-text {
                border-radius: $b-r-message-text 0 $b-r-message-text $b-r-message-text;
            }
        }
    }

    &:first-child {
        .message-text {
            background: red;
        }

        &.left {
            .message-text {
                border-radius: 0 $b-r-message-text $b-r-message-text $b-r-message-text;
            }
        }

        &.right {
            .message-text {
                border-radius: $b-r-message-text $b-r-message-text 0 $b-r-message-text;
            }
        }
    }

    &.left {
        .message-text {
            color: $grey-09;
            background: white;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 4px $shadow-msg;
            border-radius: $b-r-message-text;
        }

        .mouse-down {
            background: $grey-02;
        }

        .timestamp {
            margin-left: 4px;
        }
    }

    &.right {
        .message {
            margin-left: auto;
        }

        .action-photo .section-photos {
            margin-left: auto;
        }

        .source-info-with-timestamp {
            margin-left: auto;
        }

        .message-text {
            background: $blue-primary;
            color: white;
            border-radius: $b-r-message-text;
        }

        .social > .message-text {
            background: $blue-facebook;
        }

        .mouse-down {
            background: $purple-dark;
        }

        .timestamp {
            margin-right: 8px;
        }
    }
}

.message {
    align-items: flex-end;

    .message-text {
        max-width: 260px;
        padding: 7px 12px;
        line-height: 20px;
        white-space: pre-wrap;
        user-select: none;
    }

    @media (max-width: 360px) {
        .message-text {
            max-width: calc(100vw - 100px);
        }

    }

    .timestamp {
        font-size: 10px;
        color: $grey-07;
    }

    .message-action {
        &:not(.photo):not(.multi-photo):not(.profile-photo) {
            min-width: 250px;
            max-width: calc(100vw - 100px);
        }

        &.schedule-start-a, &.schedule-start-b, &.schedule-finish-a, &.schedule-finish-b, &.schedule-confirm, &.schedule-complete {
            //max-width: 270px !important;
            width: 270px !important;
        }

        &.request {
            display: table !important;
            width: initial !important;
        }
    }
}

.action-default-layout {
    background: white;

    .top {
        height: 8px;
        padding: 0 12px !important;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 8px;
    }

    .content {
        .title {
            padding: 0 12px;
            color: black;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 12px;
            font-family: NotoSans-Medium;
        }

        .body {
            color: $grey-09;
            font-size: 14px;
            line-height: normal;
            letter-spacing: -0.2px;
            padding: 0 12px 16px;

            .bordered {
                position: relative;
                margin-left: -8px;
                margin-right: -8px;
                border: 1px solid $grey-02;
                border-radius: 8px;
                padding: 22px 12px 16px;
            }
        }
    }

    .daily & {
        .top {
            background: $brand-red-grad;
        }

        .c-accent {
            color: $brand-daily !important;
        }
    }

    .recommend & {
        // .top {
        //     background: $brand-blue-grad;
        // }

        .c-accent {
            color: $brand-recommended !important;
        }
    }

    .social & {
        .top {
            background: linear-gradient(274deg, $blue-facebook 100%, #36b3ff);
        }
    }

    .footer {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -0.2px;
        color: $grey-07;
        @include f-medium;
    }
}

.action-photo {
    .section-photos {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    .photo-wrapper {
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08), 0 1px 4px rgba(84, 72, 203, 0.04);
        width: 160px;
        height: 160px;
        position: relative;
        border-radius: 8px;

        .img-cover {
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08), 0 1px 4px rgba(84, 72, 203, 0.04);
            width: 160px;
            height: 160px;
            border-radius: 8px;

            .right & {
                margin-left: auto;
            }
        }

        .user-profile {
            position: absolute;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            padding: 8px;
            //height: 50%;
            width: 100%;
            bottom: 0;
            color: white;
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 94%);
            border-radius: 8px;

            .region {
                font-size: 11px;
            }
            .button-container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                .img-container {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column-reverse;
                }

                .profile-btn {
                    height: 40px;
                    width: 40px;
                }
            }
        }
    }

    .functions {
        position: absolute;
        right: 8px;
        bottom: 8px;

        .button {
            background: white;
            border-radius: 8px;
            width: 32px;
            height: 32px;
            text-align: center;
            box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
            cursor: pointer;
            @include center;

            .material-icons {
                font-size: $icon-size;
            }
        }
    }

    .source-info-with-timestamp {
        display: table;
    }

    .source-info {
        max-width: calc(100vw - 170px);
        margin-top: 8px;
        background: #E1E1E6;
        border-radius: 8px;
        font-size: 12px;
        padding: 4px 8px;
        @include f-medium;

        .material-icons {
            color: $grey-08;
            font-size: 16px;
            margin-right: 8px;
        }

        span::after {
            color: $grey-04;
        }
    }
}

.multi-photo-layout {
    $multi-photo-width: 280px;
    $grid-gap: 2px;

    .card, .single-photo {
        position: relative;
        max-width: 280px;
    }

    .single-photo {
        width: 160px;
        height: 160px;
    }

    .profile-btn {
        position: absolute;
        bottom: 8px;
        right: 8px;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
        width: 32px;
        height: 32px;
        @include center;
    }

    .grid-row-1,
    .grid-row-2 {
        display: grid;
        grid-gap: 2px;

        > div {
            background-size: contain;
        }

        &.two {
            grid-template-columns: repeat(2, 1fr);

            > div {
                width: calc((#{$multi-photo-width} - #{$grid-gap}) / 2);
                height: calc((#{$multi-photo-width} - #{$grid-gap}) / 2);
            }
        }

        &.three {
            grid-template-columns: repeat(3, 1fr);

            > div {
                width: calc((#{$multi-photo-width} - #{$grid-gap} * 2) / 3);
                height: calc((#{$multi-photo-width} - #{$grid-gap} * 2) / 3);
            }
        }
    }

    .grid-row-2 {
        margin-top: 2px;
    }
}

.action-open-chat-normal {
    .stats {
        margin-top: 16px;

        .stat-card {
            padding: 12px;
            background: $grey-02;
            border-radius: 8px;

            i {
                font-size: 16px;
            }

            .key {
                color: $grey-07;
                font-size: 13px;
            }

            .value {
                font-size: 15px;
                @include f-bold;
            }
        }
    }
}

.mtype-bottom-functions {
    .img-cover {
        width: 40px;
        height: 40px;
        border: 1px solid $grey-02;
        margin-right: 12px;
    }

    .material-icons {
        font-size: $icon-size;
    }

    .divider {
        margin-right: 16px;
        color: $grey-02;
    }

    .bottom {
        padding: 10px 12px;
        border-top: 1px solid $grey-02;
    }

    .profile {
        padding: 10px 16px 10px 12px;
        border-top: 1px solid $grey-02;
    }

    .bottom,
    .profile {
        &:hover {
            background: $grey-01;
            cursor: pointer;
        }
    }

    .functions {
        .button {
            background: $grey-02;

            &:not(:last-child) {
                margin-right: 8px;
            }
        }
    }
}

.action-alimi-basic {
    .img-cover {
        width: 100%;
        height: 200px;
    }

    .title {
        font-size: 16px !important;
        color: black !important;
        margin-bottom: 0 !important;
        padding: 12px;
    }

    .body {
        font-size: 13px !important;
        color: $grey-09;
        line-height: normal;
        padding: 0 12px 12px;

        .msg {
            letter-spacing: normal;
            white-space: pre-line;

            &:not(.expanded) {
                overflow: hidden;
                max-height: 120px;
                @include lines-4;
            }
        }

        .btn-load-more {
            color: $blue-primary;
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .btn-alimi {
        background: $grey-02;
        color: $grey-09;
        margin-top: 24px;
        width: 100%;
        @include f-regular;

        &.premium-survey {
            background: #262289;
            color: white;
        }
    }
}

.action-unknown {
    .message-text {
        color: white !important;
        background: $grey-08 !important;
    }
}

.action-schedule, .action-workday {
    padding: 0 16px 16px;
    color: black;
    @include spoqa-f-regular;

    .message {
        line-height: 24px;
    }

    .message-top {
        display: flex;
        align-items: center;
        font-size: 16px;
        margin-bottom: 16px;
        @include spoqa-f-bold;

        img {
            width: 24px;
            height: auto;
            margin-right: 8px;
        }
    }

    .message-content {
        margin-bottom: 8px;
        .desc {
            margin-bottom: 16px;
        }

        .grey-box {
            background: $grey-01;
            padding: 8px;
            font-size: 14px;
            border-radius: 12px;

            .user-profile {
                display: flex;
                align-items: center;

                img {
                    width: 80px;
                    height: 80px;
                    border: 1px solid white;
                    border-radius: 8px;
                    margin-right: 14px;
                }
            }
            .title-grey {
                @include spoqa-f-medium;
                font-size: 12px;
                color: #94999e;
                margin-bottom: 4px;
            }
            .content-grey {
                line-height: 1.57;
                @include spoqa-f-regular;
            }
        }
    }

    .bottom-button {
        button { height: 40px !important; }
    }
}
