.modal-profile-item-selector {
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: -0.2px;
    color: $grey-08;

    @include modal-fullscreen;
    @include f-regular;

    .p-16 {
        padding: 0 16px !important;
    }
    .bottom-button {
        position: absolute;
    }
    .guide {
        padding: 16px;
        background: $grey-01;
        border-radius: 12px;
        font-size: 11px;
        color: $grey-08;
        margin-bottom: 16px;
    }

    .back-button-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 16px;
        height: 52px;
        align-items: center;
    }

    .back-button {
        font-size: 24px;
        color: $grey-08;
        margin: 0;
    }

    .top {
        padding: 0 20px;
        margin-bottom: 40px;

        .title {
            font-size: 24px;
            letter-spacing: -0.4px;
            color: black;

            @include f-medium;
        }

        .category {
            font-size: 14px;
            color: $grey-05;
            margin-bottom: 6px;
        }
    }

    .result {
        width: 100%;
        overflow-y: auto;
    }

    .input-wrapper {
        display: flex;
        flex-direction: row;
        width: calc(100% - 40px);
        height: 52px;
        border-radius: 8px;
        border: 1px solid $grey-02;
        padding: 12px 16px;
        margin: 0 20px 12px;

        .material-icons {
            font-size: $icon-size;
            color: $grey-05;
            margin: 0;
        }

        img {
            width: 24px;
            height: 24px;
        }

        .i-search {
            margin-right: 4px;
            color: $grey-08;
        }

        input {
            font-size: 15px;
            margin: 0;
            padding: 0;
            color: black;
        }

        input::placeholder {
            color: $grey-05;
        }
    }

    .no-search-result {
        color: $brand-danger;
        font-size: 13px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .material-icons-outlined {
            font-size: 14px;
        }
    }

    .item {
        padding: 0 20px;
        font-size: 16px;
        line-height: 1.38;


        > div {
            max-width: 280px;
            //@include lines-1;
        }

        &.selected {
            color: $suhoshin-red;
            @include f-bold;

            .i-right {
                color: $blue-primary;

            }
        }

        &:not(:last-child) {
            border-bottom: 1px solid $grey-01;
        }
    }

    .i-right {
        font-size: 24px;
        // margin: 0;
        color: $grey-04;
        margin: 16px 0;
    }

    .grid-col {
        margin: 0 20px;
        grid-gap: 12px;
        grid-auto-rows: 48px;
        border-top: none;
        width: initial;

        .item {
            border-radius: 8px;
            border: 1px solid $grey-02;
            width: calc((100vw - 12px - 40px) / 2);
            @include center;

            &.selected {
                border: 1px solid $blue-primary;
            }

            .i-right {
                display: none;
            }
        }
    }
}

.modal-bottom-sheet {
    height: 260px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
}
.modal-bottom-sheet > div {
    height: 100%;
    background: white;
    border-radius: 12px 12px 0 0;
}

.modal-container {
    .head {
        font-size: 24px;
        line-height: 24px;
        @include between;

        .title {
            color: black;
        }
    }
}

.modal-basic {
    border-radius: 16px;
    padding: 16px;
    width: 100%;

    .head {
        font-size: 18px;
        color: black;
        @include spoqa-f-medium;
        @include between;
    }
    .body {
        margin-top: 16px;
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 28px;
        color: black;
    }
    .buttons-basic {
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 4px;

        :last-child {
            margin-left: 24px;
        }
        .btn-primary {
            color: $suhoshin-red;
            background: none;
            @include spoqa-f-bold;
        }
    }
    .buttons-action {

        :last-child {
            margin-top: 8px;
        }

        .btn-default {
            border: 1px solid $blue-primary !important;
            color: $blue-primary;
        }
        .btn-black {
            background: #111111;
            color: white;
        }
    }
}

.modal-images {
    @include modal-fullscreen;
    padding-bottom: 0 !important;
    background-color: black !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .close {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }

    .icon-wrapper {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 12px;
        right: 16px;
        z-index: 1;
        width: 32px;
        height: 32px;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 18px;

        .close-modal {
            color: white;
        }
    }

    .VueCarousel-slide {
        height: 100vh;
        background: black;
        overflow-y: auto;
        @include center;
    }

    .img-cover {
        width: 100%;
    }

    .VueCarousel-pagination {
        display: none;
    }
}

// .modal-basic,
.modal-alert {
    max-width: 320px;
    margin: auto;

    .body {
        margin-top: 30px;
        font-size: 16px;
        line-height: 24px;
        white-space: pre-line;
    }
}

.modal-dropout {
    padding: 0 !important;
    border-radius: 16px !important;

    .head {
        padding: 32px 32px 24px;

        .title {
            margin: 4px 0 8px;
            color: $grey-09;
            font-size: 24px;
        }

        .reason {
            margin-top: 30px;
            font-size: 16px;
            color: $grey-05;
        }
    }

    .body {
        border: 1px solid $grey-02;
        padding: 24px 24px 16px;
        max-height: calc(100vh - 200px);
        overflow-y: auto;

        .item {
            padding: 8px;
            .checkbox {
                width: 18px;
                height: 18px;
                margin-right: 16px;
            }
        }
    }

    .buttons {
        display: table;
        padding: 32px;
        font-size: 16px;
        overflow-y: auto;
        margin-left: auto;

        button {
            @extend .btn;
            @include flex-wrap;

            &:not(:first-child) {
                margin-left: 16px;
            }
            &[disabled] {
                background: white;
                color: black;
            }
        }
    }
}

.modal-select-env {
    .envs {
        .env-item {
            font-size: 20px;
            padding: 16px 0;
            cursor: pointer;
            @include f-medium;

            &.selected {
                text-decoration: underline;
                color: $blue-primary;
                @include f-bold;
            }

            &:not(:last-child) {
                border-bottom: 1px solid $grey-02;
            }
        }
    }

    input {
        padding: 8px;
        margin-top: 16px;
        font-size: 16px;
        width: 100%;
    }
}

.modal-update-profile {
    width: 85vw;
    position: relative;

    .body {
        overflow-y: auto;
        height: calc(100% - 60px);
        margin-bottom: 140px;

        i {
            font-size: 40px;
            color: $pink-deep;

            &.confirmed {
                color: $blue-primary;
            }
        }

        .title {
            @include f-bold;
            font-size: 24px;
            color: $grey-09;
            margin-top: 15px;
            line-height: 30px;
        }

        .info {
            padding: 2px 8px;
            width: fit-content;
            margin-top: 22px;
            margin-left: 12px;
            background-color: $grey-08;
            border-radius: 4px;
            font-size: 12px;
            color: white;
            @include f-medium;
            position: relative;
            z-index: 100;
        }

        .content-box {
            margin-top: -10px;
            padding: 20px 0 10px 0;
            border-radius: 8px;
            background-color: $grey-01;

            .content-item {
                display: flex;
                margin: 10px 20px;
                font-size: 14px;
                color: black;
                @include f-medium;

                div:first-child {
                    width: 80px;
                    font-size: 13px;
                    color: $grey-08;
                    @include f-regular;
                }
            }
        }

        .info-text {
            font-size: 13px;
            color: $grey-08;
        }

        hr {
            border-color: $grey-03;
        }
    }

    .bottom {
        position: absolute;
        bottom: 30px;
        width: calc(100% - 48px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        button {
            width: 100%;
            color: white;
            @include f-medium;
            font-size: 14px;
            height: 40px;

            &.btn-default {
                margin-right: 10px;
                color: $grey-08;
                border-radius: 8px;
                border: solid 1px $grey-03;
            }
            &.btn-primary {
                background-color: $pink-deep;
                &.confirmed {
                    background-color: $blue-primary;
                }
            }
        }
    }
}

.modal-edit-style-type {
    @include modal-fullscreen;

    .types {
        width: calc(100vw - 40px);
        margin: 32px 20px;

        .item {
            padding: 12px 16px;
            border-radius: 8px;
            border: 1px solid $grey-03;
            font-size: 16px;
            color: black;

            &.selected {
                color: $blue-primary;
                border: 1px solid $blue-primary;
            }

            &:not(:last-child) {
                margin-bottom: 12px;
            }
        }
    }
}

.modal-cropper {
    @include modal-fullscreen;
    @include center;
    background: black !important;

    .cropper {
        img {
            max-width: 100%;
        }
    }

    .button-wrapper {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 56px;
        background: $grey-09;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .btn {
            padding: 16px 24px !important;
            background: none;
            color: $white;
            font-size: 16px;
        }
    }
}

.modal-select-coupon {
    padding: 0 !important;

    .coupons {
        padding-top: 100vh;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        .head, .body {
            padding: 16px;
            background-color: white;
        }

        .head {
            border-radius: 12px 12px 0 0;
            font-size: 16px;
            color: $grey-09;
            border-bottom: solid 1px $grey-02;
            @include f-medium;
        }

        .body {
        }

        .coupon-list {
            .coupon {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                font-size: 15px;
                color: black;

                .material-icons {
                    &.checked {
                        color: $blue-primary;
                    }

                    &.unchecked {
                        color: $grey-06;
                    }
                }

                .detail {
                    .amount {
                        color: $brand-red;
                        @include f-bold;
                    }
                }
                &:not(:last-child) {
                    margin-bottom: 16px;
                }
            }
        }
    }
}

.modal-signup-friends {
    padding: 20px;
    padding-top: 28px;
    width: calc(100vw - 48px);
    border-radius: 16px !important;
    color: $grey-09;

    @include flex;

    .title {
        font-size: 24px;
        line-height: 34px;
    }

    .agents {
        display: flex;
        justify-content: space-between;

        .count {
            font-size: 16px;
            line-height: 24px;
        }

        .photos {
            position: relative;

            img {
                position: absolute;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.05);
                border: solid 2px white;
            }

            $z-indices: 0, 1, 2, 3, 4;
            $right-pos: 0, 24px, 48px, 72px, 96px;

            @each $z-index in $z-indices {
                $index: index($z-indices, $z-index);
                img:nth-child(#{$index}) {
                    z-index: $z-index;
                }
            }

            @each $r in $right-pos {
                $index: index($right-pos, $r);
                img:nth-child(#{$index}) {
                    right: $r;
                }
            }
        }
    }

    .divider {
        width: 50px;
        height: 3px;
        background-color: $grey-03;
    }

    .message {
        margin: 0;
        font-size: 16px;
        line-height: 26px;
    }
}

.modal-single-option-selector {
    height: 400px !important;

    .body {
        height: calc(100% - 96px);
        overflow: scroll;

        .option {
            display: flex;
            align-items: center;

            &:not(:last-child) {
                margin-bottom: 8px;
            }

            &.selected {
                color: $blue-primary;

                .material-icons { color: $blue-primary; }
            }
        }
    }

    .buttons {
        margin-top: 16px !important;
    }
}

.modal-request-app-review {
    width: calc(100vw - 48px) !important;
    border-radius: 16px !important;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.16), 0 2px 4px 0 rgba(78, 68, 182, 0.1);
    padding: 16px !important;
    padding-bottom: 20px !important;

    .head {
        display: flex;
        justify-content: space-between;

        .header {
            margin: 0;
            margin-top: 12px;
            font-size: 22px;
            color: $grey-09;
            font-weight: normal;
        }
    }

    .body {
        display: flex;
        flex-direction: column;

        .copy-review {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            p {
                margin: 0;
                font-size: 13px;
                color: $blue-primary;
                line-height: normal;

                strong {
                    font-weight: normal;
                    @include f-bold;
                }
            }

            .copy {
                padding: 4px 14px;
                font-size: 13px;
                color: $blue-primary;
                border: 0;
                margin: 0;
                border-radius: 16px;
                background-color: $grey-02;
                font-weight: normal;
                @include f-medium;
            }
        }

        .review-text {
            margin: 0;
            padding: 12px;
            height: 100px;
            border-radius: 12px;
            border: solid 1px $grey-02;
            white-space: pre-line;
            color: black;
            font-size: 14px;
            line-height: normal;
            @include lines-4;
        }
    }

    .btn {
        width: 100%;
        height: 48px;
        box-shadow: none;
        font-size: 15px;
        @include f-regular;
    }
}
