$bg-snackbar: #4a4955;

.snackbar {
    position: absolute;
    color: white;
    background: $bg-snackbar;
    z-index: 2;
    border-radius: 4px;
    padding: 8px 12px;
    max-width: 240px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    box-shadow:
        0 3px 5px rgba(0, 0, 0, 0.2),
        0 1px 18px rgba(0, 0, 0, 0.12),
        0 6px 10px rgba(0, 0, 0, 0.14);

    .material-icons {
        font-size: $icon-size;
        margin-left: 8px;
    }
}