.edit-profile-detail {
    padding: 0 0 81px 0;

    .bottom-button {
        position: absolute;

        button {
            background: #111111
        }
    }

    .title {
        margin: 12px 0 12px 0;
        text-align: center;
        color: black;
        font-weight: bold;
        font-size: 18px;
        line-height: 28px;
        @include spoqa-f-bold;
    }
    .sub-title {
        text-align: center;
        line-height: 24px;
        color: black;
        font-size: 14px;
        margin-bottom: 24px;
    }
    .guide {
        background: $grey-01;
        margin: 0 16px;
        padding: 8px 12px;
        font-size: 12px;
        line-height: 20px;
        border-radius: 4px;
        margin-bottom: 16px;
    }
    .section {
        font-size: 14px;
        color: black;
        margin-bottom: 32px;
        padding: 0 16px;

        &.current {
            display: flex;
            align-items: center;
            i {
                color: #e9e9ed;
                margin-right: 2px;
                &.selected {
                    color: $blue-primary;
                }
            }
        }
        &.selected {
            color: $blue-primary;
        }

        textarea {
            height: 96px;

            &::placeholder {
                line-height: 24px;
            }
        }
        .isInputMode {
            height: 48px;
        }

        .placeholder {
            color : #B9BDC1;
        }
        .section-title {
            margin: 8px 0px;
            font-size: 16px;
            line-height: 26px;
            &.required::after {
                content: ' *';
                color: $blue-primary;
            }
        }
        .search-box-wrapper {
            padding: 16px;
            border: 1px solid $grey-04;
            border-radius: 8px;
            height: 48px;
            display: flex;
            align-items: center;

            .search-box {
                display: flex;
                align-items: center;
                color: $grey-05;

                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }
        .button-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 8px;
            margin-bottom: 16px;

            .btn-normal {
                width: 100%;
                padding: 12px 0;
                border-radius: 8px;
                @include center;

                &.selected {
                    border: 1px solid $blue-primary;
                    color: $blue-primary;
                }
            }
        }
        .selector-container {
            .select {
                display: flex;
                align-items: center;
                margin-bottom: 4px;
                font-size: 14px;
                i {
                    font-size: 26px;
                }
            }
        }
        .item {
            @include center;
            padding: 11px 0;
            border: 1px solid $grey-03;
            border-radius: 8px;
            margin-bottom: 8px;
            text-align: center;

            &.selected {
                border: 1px solid $blue-primary;
                color: $blue-primary;
            }
        }
        .inputbox {
            width: 100%;
            height: 48px;
            border-radius: 8px;
            border: 1px solid #ced5d9;
            display: flex;
            align-items: center;
            padding: 12px;

            img {
                width: 24px;
                height: 24px;
            }
        }
        .changenotice {
            font-size: 12px;
            line-height: 20px;
            color: #94999e;
            margin: 4px 0px;
        }

    }
}
