.faq {
    $padding: 16px;
    .body {
        padding: 0 $padding;
    }

    .item {
        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }

    .hr {
        width: calc(100% + 2 * #{$padding});
        height: 1px;
        margin: 24px - $padding;
        background: $grey-02;
    }

    .category-name {
        color: $grey-06;
        font-size: 12px;
        margin-bottom: 16px;
        @include f-medium;
    }

    .question {
        font-size: 15px;
        @include f-medium;
    }

    .answer {
        margin: 16px;
        font-size: 12px;
        white-space: pre-line;
    }
}