@import 'faq';

.customer-center {
    .page-header {
        margin-bottom: 20px;
    }

    .section {
        padding: 22px 0;
        
        &:not(:last-child) {
            border-bottom: 1px solid $grey-02;
        }

        .sub-title {
            font-size: 14px;
            color: $grey-05;
            @include f-medium;
            margin: 14px 0 10px 20px;
        }
    }

    .item {
        padding: 14px 20px;

        .title {
            font-size: 16px;
            color: black;
        }

        .desc {
            margin-top: 8px;
            font-size: 12px;
        }

        .material-icons {
            color: $grey-05;
            font-size: $icon-size;
        }

        .material-icons-outlined {
            margin-left: 4px;
            font-size: 16px;
        }

        .any-change {
            margin-left: 4px;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: $blue-primary;
        }
    }
}