.post-page {
    padding: 16px;
    overflow-y: hidden !important;

    .tabs {
        display: flex;

        .tab {
            margin-right: 8px;
            padding: 6px 18px;
            border: 1px solid black;
            border-radius: 100px;
            font-size: 14px;
            @include center;

            &.selected {
                background: $suhoshin-red;
                color: white;
                border: 1px solid $suhoshin-red;
            }
        }
    }
    .main {
        padding: 16px 0 0 0;
        height: calc(100% - 30px);
        overflow-y: auto;
    }
}

.post-item {
    @include between;
    padding: 12px 0;
    margin-bottom: 8px;
    border-bottom: 1px solid $grey-03;

    .left {
        width: 85%;

        .bottom {
            font-size: 12px;
            color: $grey-07;
            display: flex;
            align-items: center;

            .item {
                i {
                    font-size: 16px;
                    color: $grey-04;
                    margin-right: 4px;
                }
                display: flex;
                align-items: center;
            }
        }

        .top {
            display: flex;
            align-items: center;

            .post-title {
                max-width: 75%;
            }

            .post-type {
                font-size: 11px;
                padding: 2px 4px;
                margin-right: 8px;
                border-radius: 8px;
                color: white;
                background: $suhoshin-red;
                @include center;
                @include spoqa-f-medium;

                &.post-type-2 {
                    background: #111111;
                }
            }
        }
    }
    .comments {
        font-size: 14px;
        padding: 4px 8px;
        border-radius: 4px;
        border: 1px solid $suhoshin-red;
        color: $suhoshin-red;
    }
}
