.block-college,
.block-company,
.block-name {
    .title {
        font-size: 24px;
        color: black;
    }
    main.main {
        padding: 0 16px;
        height: calc(100vh - 52px - 81px);
        overflow-y: auto;
        .dot {
            margin-top: 6px;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: $grey-07;

            @include flex-wrap;
        }
        p {
            color: $grey-09;
        }
        .text {
            color: $grey-06;
            font-size: 14px;
        }
        .block-item {
            padding: 12px;
            background: $grey-01;
            border-radius: 12px;
            margin-bottom: 8px;
            @include between;

            span {
                color: $grey-09;
            }
            img {
                width: 24px;
                height: 24px;
            }
        }
    }
}

.modal-profile-item-selector {
    padding: 16px !important;
    @include modal-fullscreen;

    .back-button-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 16px;
    }

    .back-button {
        font-size: 24px;
        color: $grey-08;
        margin: 0;
    }

    .top {
        font-size: 24px;
        color: black;
        padding: 0 16px;
        margin-bottom: 32px;
        @include f-medium;
    }
    .input-wrapper {
        display: flex;
        flex-direction: row;
        width: calc(100% - 40px);
        height: 52px;
        border-radius: 8px;
        border: 1px solid $grey-02;
        padding: 12px 16px;
        margin: 0 20px 12px;

        .material-icons {
            font-size: $icon-size;
            color: $grey-05;
            margin: 0;
        }

        .i-search {
            margin-right: 16px;
            color: $grey-08;
        }

        input {
            font-size: 15px;
            margin: 0;
            padding: 0;
            color: black;
        }

        input::placeholder {
            color: $grey-05;
        }
    }
    .result-wrapper {
        .result {
            padding: 16px;
            border-bottom: 1px solid $grey-01;
            @include between;
        }
    }
}
