.change-password {
    background-color: white;

    .password {
        padding: 12px;

        &.key_current {
            height: 103px;
        }

        .key {
            padding-top: 10px;
            color: $grey-08;
        }

        .value {
            margin-top: 15px;

            .password-input {
                width: 100%;
            }
        }
        .info {
            margin-top: 10px;
            font-size: 13px;
            color: $pink-deep;
        }
    }

    .change-password-btn {
        padding: 12px;
        width: 100%;

        .item {
            margin-top:30px;
            width: 100%;
        }
    }
}
