.dormant {
    background-color: white;

    .dormant-body {
        margin: 12px;
    }

    .dormant-btn {
        padding: 12px;
        width: 100%;

        .item {
            margin-top:30px;
            width: 100%;
        }
    }
}
