.profile-verification {
    .page-header {
        .title {
            font-family: NotoSans-Medium;
            font-size: 24px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: -0.2px;
            color: black;
        }
    }
    .cards {
        padding: 32px 20px 0;

        .item {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }

        .verification-card {
            padding: 16px;
            border-radius: 12px;
            background: $grey-01;

            .title {
                margin-bottom: 6px;

                font-family: NotoSans-Medium;
                font-size: 14px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: -0.2px;
                color: $grey-07;
            }

            .value {
                color: $grey-09;
                font-size: 16px;
                line-height: 24px;
                @include f-medium;
            }

            .badge-vanilla,
            .badge-verified {
                padding: 2px 8px;
                font-size: 11px;
                border-radius: 6px;
                @include f-medium;
            }

            .badge-vanilla {
                background: $grey-03;
            }

            .badge-verified {
                background: $green;
                color: white;
                display: flex;
                flex-direction: row;
                align-items: center;

                .material-icons {
                    color: $green;
                    background: white;
                    border-radius: 50%;
                    font-size: 12px;
                    margin-left: 4px;
                }
            }

            button {
                padding: 0;
                height: 36px;
                box-shadow: none;
            }

            &.accepted {
                background: $grey-01;
                border: none;
            }

            &.verifying {
                background: white;
                border: 1px solid $blue-primary;
            }

            &.rejected {
                background: white;
                border: 1px solid $brand-danger;

                .title {
                    color: $brand-danger;
                }

                button {
                    background: $brand-danger;
                }
            }
        }

        .status {
            margin-top: 8px;

            .verified {
                display: flex;
                align-items: center;
            }

            .material-icons-outlined,
            span {
                color: $blue-primary;
                margin-right: 12px;
                font-size: 13px;
            }

            span {
                @include f-medium;
            }

            .desc {
                margin-top: 4px;
                margin-left: 24px;
                color: $grey-06;
                font-size: 11px;
            }
        }
    }

    .hr {
        margin: 40px 20px 20px;
        width: 40px;
        height: 4px;
        background: $grey-02;
    }

    .footer {
        padding: 0 20px;

        .title {
            color: $grey-09;
            @include f-medium;
        }

        .desc {
            margin-top: 8px;
            font-size: 11px;
            line-height: 18px;
        }
    }
}

.verify-email {
    .input-wrapper {
        background: $grey-01;

        input {
            padding: 14px 16px;
            font-size: 15px;
        }

        .material-icons {
            margin-right: 16px;
        }
    }

    .form-control {
        padding: 0 20px;
        margin-top: 32px;

        label {
            font-size: 12px;
            color: $grey-07;
            @include f-medium;
        }

        .input-wrapper {
            margin-top: 6px;
        }

        .desc {
            color: $blue-primary;
            font-size: 13px;
            margin-top: 8px;
        }
    }
}

.verify-photo {
    .photo {
        $size: calc(100vw - 40px);
        margin: 32px auto 28px;
        width: $size;
        height: $size;
        border-radius: 12px;
        overflow: hidden;
        background: $grey-02;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .img-cover {
            width: 100%;
            padding-top: 100%;
        }

        .material-icons {
            color: $grey-05;
            font-size: 32px;
            display: block;
        }

        .photo-desc {
            color: $grey-07;
            margin-top: 12px;
        }
    }

    .help {
        margin: 0 20px 160px;

        .item {
            &:not(:last-child) {
                margin-bottom: 20px;
            }

            .icon {
                font-size: 24px;
                margin-right: 16px;
            }

            .title {
                color: $grey-09;
                font-size: 13px;
                @include f-medium;
            }

            .desc {
                color: $grey-07;
                font-size: 12px;
            }
        }
    }
}
