.settings {
    .section {
        padding: 22px 20px;

        .example-img {
            margin-bottom: 12px;
            width: 100%;
            height: auto;
        }

        .section-title {
            margin: 14px 0 10px 0;
            color: $grey-05;
            font-size: 14px;
            @include f-medium;
        }

        .item {
            padding: 14px 0;

            .item-title {
                color: black;
                font-size: 16px;
            }
        }

        .material-icons {
            color: $grey-05;
            font-size: $icon-size;
        }

        &:not(:last-child) {
            border-bottom: 1px solid $grey-02;
        }
    }

    .app-version {
        margin: 20px;
        color: $grey-05;
        font-size: 11px;
    }
}
