.signup.preferences {
  .content-noheader {
    .title {
      margin-top: 56px;
      margin-bottom: 28px;
      letter-spacing: -0.4px;
      font-size: 26px;
    }

    .desc {
      font-size: 16px;
      line-height: 1.63;
    }
  }

  .age-desc {
    margin-top: 10px;
    line-height: 22px;

    span {
      color: $blue-primary;
      @include f-bold;
    }
  }

  .age-range {
    margin-bottom: 24px;
    font-size: 22px;
    color: $blue-primary;
    @include f-medium;
  }

  .age-min-max {
    display: flex;
    justify-content: space-between;
    color: $grey-05;
    @include f-medium;
  }
}

.preferences-select-type {
  .dots {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;

    .dot {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $grey-03;
      margin-right: 5px;

      &.selected {
        width: 12px;
        height: 12px;
        background-color: $grey-05;
      }
    }
  }

  .body {
    //padding: 0 20px;

    .item {
      color: black;
      font-size: 16px;
      line-height: 24px;
      border: solid 1px $grey-03;
      border-radius: 8px;
      padding: 14px 16px;
      margin-bottom: 12px;

      &.selected {
        color: $blue-primary;
        border-color: $blue-primary;
      }
    }
  }
}

.signup.preferences,
.preferences-select-type {
  .content {
    .title {
      .brand-primary {
        color: $blue-primary;
      }
    }
  }
  .bottom {
    position: fixed;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  
    .btn {
      position: relative;
      bottom: 0;
      left: 0;
      font-size: 15px;
  
      &:first-child {
        margin-bottom: 10px;
      }
    }
  
    .btn-brd {
      border-color: $gray-divider;
    }
  }
}