.signup.upload-photo {
  .top {
    margin-bottom: 0;
  }

  .body {
    overflow-y: hidden;
    .item-desc {
      span { color: $blue-primary; }
    }

    .photos {
      $grid-col-gap: 8px;
      $grid-row-gap: 12px;
      $body-width: calc(100vw - (20px * 2));
      $grid-small-item-width: calc((#{$body-width} - (#{$grid-col-gap} * 3)) / 4);

      width: 100%;
      height: calc((#{$body-width} - #{$grid-col-gap}) / 2 + #{$grid-row-gap} + #{$grid-small-item-width});
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-gap: $grid-row-gap $grid-col-gap;

      .photo {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        &.required {
          background-color: rgba(40, 152, 255, 0.05);
          border: solid 1px $grey-03;

          .material-icons {
            color: $blue-primary;
          }
        }

        &:not(.required) {
          background-color: $grey-01;
          border: solid 1px $grey-03;

          .material-icons {
            color: $grey-06;
          }
        }

        &:nth-child(1) {
          grid-column: #{"1 / 3"};
          grid-row: #{"1 / 3"};
        }

        &:nth-child(2) {
          grid-column: #{"3 / 5"};
          grid-row: #{"1 / 3"};
        }

        .close-icon {
          position: absolute;
          right: 8px;
          top: 8px;
          color: white !important;
          width: 22px;
          height: 22px;
        }

        .modify {
          position: absolute;
          left: 8px;
          bottom: 8px;
          border-radius: 50px;
          width: 24px;
          height: 24px;
          background-color: rgba(0, 0, 0, 0.6);
          display: flex;
          align-items: center;
          justify-content: center;

          .modify-icon {
            font-size: 16px;
            color: white !important;
          }
        }

        .badge {
          position: absolute;
          padding: 2px 8px;
          left: 8px;
          top: 8px;
          font-size: 13px;
          font-weight: 500;
          @include f-medium;
        }

        .image-input {
          width: 1px;
          height: 1px;
        }
      }
    }
  }
}
