.signup.verification {
  $verification-color: $purple-light;
  background-color: $grey-09 !important;
  &.white {
    background-color: white !important;
  }

  .content.before {
    margin-top: 56px;

    .title {
      font-size: 24px;
      color: white;
    }

    .body {
      .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 16px;
        background-color: $grey-08;
        border-radius: 16px;
        color: white;
        font-size: 18px;
        line-height: normal;
  
        .small {
          font-size: 14px;
          color: $verification-color;
        }
  
        .emoji {
          font-size: 50px;
        }
  
        p {
          margin: 0;
        }
      }
    }
  }

  

  .content.after {
    margin-top: 56px;

    .title-bold {
      font-size: 24px;
      color: $blue-primary;
      // margin-bottom: 50px;
    }

    .title {
      font-size: 24px;
      color: black;
      margin-bottom: 50px;
    }

    .body {
      .item {
        // display: flex;
        align-items: center;
        justify-content: space-between;
        // padding: 20px 16px;
        // background-color: $grey-08;
        // border-radius: 16px;
        // color: white;
        color: black;
        font-size: 16px;
        line-height: normal;
  
        .small {
          font-size: 14px;
          color: $blue-primary;
        }
  
        .emoji {
          font-size: 50px;
        }
  
        p {
          margin: 0;
        }
        
        .verification-color {
          color: $blue-primary;
        }
      }
    }
  }

  .button-wrapper {
    border-top: 1px solid $grey-08;

    &.white {
      border-top: 1px solid $grey-02;
    }
  }
}