.refund-3-dating {
    .refund-policy-check {
        position: absolute;
        bottom: 100px;
        left: 0;
        width: 100%;
        text-align: center;
        font-size: 13px;
        span {
            color: $grey-09;
            border-bottom: 1px solid $grey-09;
        }

    }
    .desc,
    .tickets {
        padding: 0 20px;
    }

    .desc {
        margin-bottom: 40px;

        .row1 {
            margin-bottom: 3px;
            color: $grey-09;
        }

        .row2 {
            color: $grey-06;
            font-size: 13px;
        }
    }

    .tickets {
        .ticket-wrapper {
            &:not(:last-child) {
                margin-bottom: 16px;
            }
            @include between;



            &.selected {
                .material-icons {
                    color: $blue-primary;
                }
            }

            .material-icons {
                margin-right: 6px;
                width: 8vw;
                color: $grey-06;
            }

            .ticket {
                //padding: 16px;
                background-size: cover;
                background-repeat: no-repeat;
                display: flex;
                flex-direction: column;
                justify-content: center;
                min-width: 80vw;
                height: 102px;
                .user {
                    color: black;
                    font-size: 15px;
                    width: 100%;
                    span {
                        color: $grey-07;
                        font-size: 12px;
                    }
                }
                .agent {
                    @extend .user;
                    font-size: 14px;
                    color: $grey-09;
                    width: 100%;
                }

                .date {
                    color: $grey-07;
                    font-size: 12px;
                }
            }

            .no-ticket {
                font-size: 15px;
                color: $grey-09;

                p {
                    color: $grey-07;
                    font-size: 13px;
                }
            }
        }
    }
}
