.refund-6-description {
    .info {
        .line1 {
            color: $grey-09;
            margin-bottom: 6px;
  
            span {
                color: $blue-primary;
            }
        }

        .line2 {
            font-size: 12px;
            color: $grey-06;
        }
    }

    .textarea-wrapper {
        margin-top: 32px;
        height: 232px;
    }
}