.in-app-store {
  .contents {
    padding: 40px 16px 48px 16px;

    .section {
      .head {
        margin-bottom: 24px;
      }

      .title {
        font-size: 18px;
        color: black;
      }

      .desc {
        font-size: 14px;
      }
    }

    .vanilla-purchase {
      margin-bottom: 48px;

      .text::after {
        color: $grey-04;
        content: 'ㅣ';
      }

      .vanilla-items {
        display: grid;
        grid-gap: 8px;
        margin-bottom: 8px;

        &.male {
          grid-template-columns: repeat(3, 1fr);
        }

        &.female {
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
        }
      }

      .vat {
        font-size: 11px;
        color: $grey-05;
      }
    }
  }

  .footer {
    width: 100%;
    padding: 24px 16px 32px;
    background-color: $grey-01;

    .title {
      color: $grey-09;
      margin-bottom: 8px;
      @include f-medium;
    }

    .content {
      color: $grey-07;
      font-size: 12px;
      line-height: 18px;

      span { @include f-bold; }
    }
  }
}