@import 'in-app-store';
@import 'vanilla-item';
@import 'pg-store';
@import 'chai-event';

.in-app-store, .pg-store, .notices {
  .refund-info-banner {
    padding: 10px 20px;
    background-color: $grey-01;
    align-items: center;
    margin-bottom: 32px;

    line-height: 2;
    .top {
      font-size: 12px;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    .bottom {
      text-align: center;
      font-size: 18px;
      color: black;
      @include f-bold;
    }

    img {
      object-fit: contain;
      height: 72px;
    }
  }

  .buying-ticket {
    padding: 10px 20px;
    background-color: $grey-02;
    align-items: center;
    background-image: url('/src/assets/images/store/bg_ic.svg');
    width: 100%;
    height: 100%;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;

    .top {
      font-size: 12px;
      margin-bottom: 2px;
    }

    .bottom {
      font-size: 18px;
      color: black;
      @include f-bold;
    }
  }
}